<body>
<section class="slice slice-lg sct-color-1">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">

                <div class="form-user style-1 rounded has-shadow-1">
                    <div class="form-header">
                        <h3 class="form-header-title">パスワードを変更する</h3></div>

                      <div class="form-body">
                        <div class="row">
                        <div class="col-xs-12">
                          <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
                          <%= render "devise/shared/error_messages", resource: resource %>

                          <div class="form-group has-icon">
                            <label class="control-label" for="inputfmail">現在のメールアドレス</label>
                            <%= f.email_field :email, autofocus: true, class:"form-control", id:"inputemail", placeholder:"現在のメールアドレス"%>
                          </div>

                          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                          <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
                          <% end %>


                          <div class="form-group has-icon">
                            <label class="control-label" for="inputpassword">新しいパスワード</label>
                            <% if @minimum_password_length %>
                              <em>(<%= @minimum_password_length %>桁以上)</em>
                              <% end %>
                            <%= f.password_field :password, autocomplete: "new-password" , class:"form-control", id:"inputpassword", placeholder:"パスワード"%>
                          </div>

                          <div class="form-group has-icon">
                            <label class="control-label sr-only" for="inputpassword_confirmation">password_confirmation</label>
                            <%= f.password_field :password_confirmation, autocomplete: "new-password" , class:"form-control", id:"inputpassword_confirmation", placeholder:"確認用パスワード"%>
                          </div>

                          <div class="form-group has-icon">
                            <label class="control-label" for="inputpassword_confirmation">現在のパスワード</label>
                            <%= f.password_field :current_password, autocomplete: "current_password" , class:"form-control", id:"inputpassword_confirmation", placeholder:"変更するには現在のパスワードが必要です"%>
                          </div>

                           <%= f.submit "パスワードを変更する", class:"btn btn-lg btn-block btn-base-1 mt-20" %>
                      <% end %>
                    </div>
                    </div>
                  </div>
                </div>
            </div>
        </div>
    </div>
</section>
</body>



