<div class="container">
    <section class="row">
        <h1>アーティスト詳細</h1>

        <div class="artist-show">
                <h4 class="col-xs-2">ID：<%= @artist.id %></h4>
                <h4 class="col-xs-5 text-right">作成日時：<%= @artist.created_at %></h4>
                <div class="col-xs-5"></div>

            <%= form_for @artist do |f| %>

                <h3 class="col-xs-12">アーティスト名</h3>
                <%= f.text_field :name, class:"col-xs-6 col-xs-offset-1 h4 artist-show-space" %>
                <div class="col-xs-5"></div>

                <h3 class="col-xs-12">アーティスト概要</h3>
                <%= f.text_area :description, class:"col-xs-10 col-xs-offset-1 h4 artist-show-space", rows:"3" %>
                <div class="col-xs-1"></div>

                <div class="col-xs-12 text-center">
                    <%= f.submit "変更を保存する", class:"btn btn-danger btn-lg artist-show-btn" %>
                </div>
            <% end %>
        </div>

    </section>
</div>