
    <div class="row search-forms">
        <div>
            <div class="row">
                <label class="col-xs-3 s-form" for="">
                    <div class="col-xs-12 s-form">
                        <span class="form-spacing">
                            <%= f.text_field :id_eq, class: 'form-control', placeholder: "受注ID" %>
                        </span>
                    </div>
                </label>

                <label class="col-xs-3 s-form" for="">
                    <div class="col-xs-12 s-form">
                        <span class="form-spacing">
                            <%= f.text_field :user_id_eq, class: 'form-control', placeholder: "ユーザーID" %>
                        </span>
                    </div>
                </label>

                <label class="col-xs-6 s-form row">
                    <div class="col-xs-5 s-form">
                        <span class="form-spacing">
                            <%= f.date_field :created_at_gteq, include_blank: true, class:"form-control" %>
                        </span>
                    </div>
                    <div class="col-xs-1 s-form">
                        <span class="form-spacing time-span">
                            〜
                        </span>
                    </div>
                    <div class="col-xs-5 s-form">
                        <span class="form-spacing">
                            <%= f.date_field :created_at_lteq, include_blank: true, class:"form-control" %>
                        </span>
                    </div>
                    <div class="col-xs-1"></div>
                </label>
            </div>

            <label class="col-xs-4 s-form" for="">
                <div class="col-xs-12 s-form">
                    <%= f.text_field :user_last_name_or_user_first_name_cont, class: 'form-control', placeholder: "ユーザー氏名で探す" %>
                </div>
            </label>

            <label class="col-xs-4 s-form" for="">
                <div class="col-xs-12 s-form">
                    <label><%= f.radio_button :receipt_status_eq, "0" %> 入金未確認　</label>
                    <label><%= f.radio_button :receipt_status_eq, "1" %> 入金確認済み</label>
                </div>
            </label>

            <label class="col-xs-4 s-form" for="">
                <div class="col-xs-12 s-form">
                    <label><%= f.radio_button :shipping_status_eq, "0" %> 配送準備中　</label>
                    <label><%= f.radio_button :shipping_status_eq, "1" %> 配送中　</label>
                    <label><%= f.radio_button :shipping_status_eq, "2" %> 配送済み　</label>
                </div>
            </label>
        </div>  

        <div class="col-sm-12 row text-center">
        <%= link_to admin_orders_path, class: 'btn btn-default btn-left search-btn-spc' do %>クリア<% end %>
        <button class="btn btn-default btn-primary" type="submit"><i class="fa fa-search"></i> 検索</button>
        </div>
    </div>
