<div class="container">
    <section class="row">
    <h1 class="text-center">受注管理フォーム</h1>
    <%= search_form_for(@q, url: admin_orders_path, html: { method: :get, class: 'form-horizontal', role: 'form' }) do |f| %>
        <%= render 'search_form', f: f %>
    <% end %>
    <div class="col-xs-12">
        <table class="table">
            <thead>
                <tr>
                    <th class="col col-xs-1"></th>
                    <th class="col col-xs-1 text-center">ID</th>
                    <th class="col col-xs-2 text-center">購入年月日</th>
                    <th class="col col-xs-2 text-center">注文者名</th>
                    <th class="col col-xs-2 text-center">受注金額</th>
                    <th class="col col-xs-2 text-center">入金ステータス</th>
                    <th class="col col-xs-2 text-center">発送ステータス</th>
                </tr>
            </thead>
            <tbody>
                <% @orders.each do |order| %>
                    <tr>

                        <td class="ad-od-t text-center"><%= link_to "詳細", admin_order_path(order.id), class:"btn btn-success" %></td>
                        <td class="ad-od-t text-center"><%= order.id %></td>
                        <td class="ad-od-t text-center"><%= simple_date(order.created_at) %></td>
                        <td class="ad-od-t text-center"><%= order.shipping_name %></td>
                        <td class="ad-od-t text-center">￥<%=number_with_delimiter(order.total_price) %></td>
                        <td class="ad-od-t text-center"><%= order.receipt_status_i18n %></td>
                        <td class="ad-od-t text-center"><%= order.shipping_status_i18n%></td>
                    </tr>
                <% end %>
            </tbody>
        </table>
        <%= paginate @orders, class: "paginate" %>
    </div>
    </section>
</div>