<body>
<section class="slice slice-lg sct-color-1">
    <div class="container">
      <% if @user.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@user.errors.count, "件") %> のエラーがあります。</h2>
          <ul>
          <% @user.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
         </ul>
        </div>
      <% end %>
        <div class="row">
            <div class="col-md-6 col-md-offset-3">

                <div class="form-user style-1 rounded has-shadow-1">
                    <div class="form-header">
                        <h2 class="form-header-title">ユーザー情報　編集</h2></div>

                      <div class="form-body">
                        <div class="row">
                        <div class="col-xs-12">

                          <%= form_for(@user) do |f| %>
                          <div class="form-group has-icon text-center">
                            <label class="control-label sr-only" for="inputfhandlename"></label>
                            <%= attachment_image_tag @user,:image,fallback: "no_image.jpg",  size:"150x150" %>
                            <%= f.attachment_field :image %>
                          </div>

                          <div class="form-group has-icon">
                            <label class="control-label" for="inputfhandlename">ニックネーム</label>
                            <%= f.text_field :handlename, autofocus: true, class:"form-control", id:"inputhandlname", placeholder:"ニックネーム"%>
                          </div>

                          <div class="form-group has-icon">
                            <label class="control-label" for="inputlast_name">姓</label>
                            <%= f.text_field :last_name, autofocus: true, class:"form-control", id:"inputlast_name", placeholder:"姓"%>
                          </div>

                          <div class="form-group has-icon">
                            <label class="control-label" for="inputfirst_name">名</label>
                            <%= f.text_field :first_name, autofocus: true, class:"form-control", id:"inputlast_name", placeholder:"名"%>
                          </div>

                          <div class="form-group has-icon">
                            <label class="control-label" for="inputlast_name_name">姓カナ</label>
                            <%= f.text_field :last_name_kana, autofocus: true, class:"form-control", id:"inputlast_name_kana", placeholder:"姓カナ"%>
                          </div>

                          <div class="form-group has-icon">
                            <label class="control-label " for="inputfirst_name_name">名カナ</label>
                            <%= f.text_field :first_name_kana, autofocus: true, class:"form-control", id:"inputfirst_name_kana", placeholder:"名カナ"%>
                          </div>

                          <div class="form-group has-icon">
                            <label class="control-label" for="inputfpost_number">郵便番号</label>
                            <%= f.text_field :post_number, autofocus: true, class:"form-control", id:"inputfpost_number", placeholder:"〒"%>
                          </div>

                          <div class="form-group has-icon">
                            <label class="control-label" for="inputfaddress">住所</label>
                            <%= f.text_field :address, autofocus: true, class:"form-control", id:"inputaddress", placeholder:"住所"%>
                          </div>

                          <div class="form-group has-icon">
                            <label class="control-label" for="inputftel">電話番号</label>
                            <%= f.text_field :tel, autofocus: true, class:"form-control", id:"inputtel", placeholder:"電話番号"%>
                          </div>

                          <div class="form-group has-icon">
                            <label class="control-label" for="inputfmail">メールアドレス</label>
                            <%= f.email_field :email, autofocus: true, class:"form-control", id:"inputemail", placeholder:"メールアドレス"%>
                          </div>

                          <div class="form-group has-icon">
                          <%= f.submit "登録内容を変更する", class:"form-control btn btn-primary" %></div>
                          <div class="form-group has-icon">
                          <%= link_to"パスワード変更に進む", edit_user_registration_path , class:"btn btn-success" %>
                          <%= link_to"退会ページに進む", users_withdraw_path , class:"btn btn-danger" %></div>
                      <% end %>
                    </div>

                    </div>


                  </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</body>




