<body>
    <!-- ここを追加 -->
    <div class='body'>
      <div class='container'>


        <div class="row">
            <div class='col-xs-3'>
            <h2>商品登録</h2>
          	 <%= form_for(@record) do |record| %>

                    <p></p>
                    <%= record.text_field :img ,class:"form-control"%>

                    <p>Opinion</p>
                    <%= record.integer_field :stock ,class:"form-control" %>
            </div>


            <div class='col-xs-9'>
                   <p></p>
                   <%= record.string_field :name ,class:"form-control"%>

                   <p></p>
                   <%=  : ,class:"form-control" %>

                   <p></p>
                   <%= record.string_field :label ,class:"form-control"%>

                   <p></p>
                   <%= record.string_field :genre ,class:"form-control" %>

                   <p>O</p>
                   <%= record.string_field :price ,class:"form-control" %>
             </div>
         </div>


         <div class="row">
            <div class='col-xs-8'>
                <p></p>
                <%= record.text_field :body ,class:"form-control"%>
            </div>
         </div>



         <div class="row">
             <div class='col-xs-8'>
                <%= f.fields_for :tune do |i| %>
                <p>ソングリスト</p>
                   <p></p>
                   <%= tune.integer_field :tune_name ,class:"form-control"%>

                   <p></p>
                   <%=  tune.integer_field :tune_name  ,class:"form-control" %>

                   <p></p>
                   <%= tune.integer_field :tune_name ,class:"form-control"%>

                   <p></p>
                  <%=  tune.integer_field :tune_name  ,class:"form-control" %>

                <% end %>
             </div>
         </div>





            <p></p>
            <%= book.submit '商品を登録', class:"btn btn-primary form-control" %>
            <% end %>



       </div>
     </div>
</body>