<% if flash[:notice] %>
  <p><%= flash[:notice] %></p>
<% end %>

<div class="container">
  <section class="row">
    <h1 class="text-center">ジャンル別新着レコード情報</h1>

    <section class="col-xs-12 records-genre">
      <h2>Japanese Rock / Pops / Indies</h2>
      <div class="col-xs-12">
        <% @jpops.each do |record| %>
          <div class="col-xs-3 disc-space">
            <% if record.stock == 0 %>
              <div class="stock-f"><p>入荷待ち</p></div>
            <% else %>
              <div class="stock-t"><p>即日発送</p></div>
            <% end %>
            <%= link_to record_path(record.id) do %>
              <%= attachment_image_tag record, :image, size: "200x200", fallback: "no_image.jpg", class:'text-center record-image' %></br></br>
            <% end %>
            <h4><b><%= record.name %></b></h4>
            <p><%= record.artist.name %></p>
            <p>¥ <%= (record.price * @setting.tax).floor %>（税込）</p>


            <!-- ここを追加　カートボタン -->
            <% stock_array= []
            record.stock.times do |quantity|
              if quantity < 31
               stock_array.push(quantity)
              else
               break
              end %>
            <% end %>

            <% if user_signed_in? %>
            <% cart_item = CartItem.find_by(user_id:current_user.id, record_id:record.id) %>
              <% if cart_item %>
                <%= form_for(cart_item, url: cart_item_path(cart_item),html:{method: "put"}) do |f| %>
                <%= f.select :quantity, stock_array %>
                <%= f.label :quantity, "個" %>
                <%= f.hidden_field :record_id, :value => record.id %>
                <%= f.submit "カートに入れる", class:"btn btn-primary" %>
                <% end %>
              <% else %>
                <%= form_for @cart_item do |f| %>
                <%= f.select :quantity, stock_array %>
                <%= f.label :quantity, "個" %>
                <%= f.hidden_field :record_id, :value => record.id %>
                <%= f.submit "カートに入れる", class:"btn btn-primary" %>
                <% end %>
              <% end %>
            <% else %>
              <%= form_for @cart_item do |f| %>
              <%= f.select :quantity, stock_array %>
              <%= f.label :quantity, "個" %>
              <%= f.hidden_field :record_id, :value => record.id %>
              <%= f.submit "カートに入れる", class:"btn btn-primary" %>
              <% end %>
            <% end %>


          </div>
        <% end %>
      </div>
      <%= link_to "もっと見る", search_records_path, class:"col-xs-12 text-right" %>
    </section>

    <section class="col-xs-12 records-genre">
      <h2>Rock / Pops / Indies</h2>
      <div class="col-xs-12">
        <% @pops.each do |record| %>
          <div class="col-xs-3 disc-space">
            <% if record.stock == 0 %>
              <div class="stock-f"><p>入荷待ち</p></div>
            <% else %>
              <div class="stock-t"><p>即日発送</p></div>
            <% end %>
            <%= link_to record_path(record.id) do %>
              <%= attachment_image_tag record, :image, size: "200x200", fallback: "no_image.jpg", class:'text-center record-image' %></br></br>
            <% end %>
            <h4><b><%= record.name %></b></h4>
            <p><%= record.artist.name %></p>
            <p>¥ <%= (record.price * @setting.tax).floor %>（税込）</p>


            <!-- ここを追加　カートボタン -->
            <% stock_array= []
            record.stock.times do |quantity|
              if quantity < 31
               stock_array.push(quantity)
              else
               break
              end %>
            <% end %>

            <% if user_signed_in? %>
            <% cart_item = CartItem.find_by(user_id:current_user.id, record_id:record.id) %>
              <% if cart_item %>
                <%= form_for(cart_item, url: cart_item_path(cart_item),html:{method: "put"}) do |f| %>
                <%= f.select :quantity, stock_array %>
                <%= f.label :quantity, "個" %>
                <%= f.hidden_field :record_id, :value => record.id %>
                <%= f.submit "カートに入れる", class:"btn btn-primary" %>
                <% end %>
              <% else %>
                <%= form_for @cart_item do |f| %>
                <%= f.select :quantity, stock_array %>
                <%= f.label :quantity, "個" %>
                <%= f.hidden_field :record_id, :value => record.id %>
                <%= f.submit "カートに入れる", class:"btn btn-primary" %>
                <% end %>
              <% end %>
            <% else %>
              <%= form_for @cart_item do |f| %>
              <%= f.select :quantity, stock_array %>
              <%= f.label :quantity, "個" %>
              <%= f.hidden_field :record_id, :value => record.id %>
              <%= f.submit "カートに入れる", class:"btn btn-primary" %>
            <% end %>
            <% end %>


          </div>
        <% end %>
      </div>
      <%= link_to "もっと見る", search_records_path, class:"col-xs-12 text-right" %>
    </section>

    <section class="col-xs-12 records-genre">
      <h2>Electric Dance Music</h2>
      <div class="col-xs-12">
        <% @edms.each do |record| %>
          <div class="col-xs-3 disc-space">
            <% if record.stock == 0 %>
              <div class="stock-f"><p>入荷待ち</p></div>
            <% else %>
              <div class="stock-t"><p>即日発送</p></div>
            <% end %>
            <%= link_to record_path(record.id) do %>
              <%= attachment_image_tag record, :image, size: "200x200", fallback: "no_image.jpg", class:'text-center record-image' %></br></br>
            <% end %>
            <h4><b><%= record.name %></b></h4>
            <p><%= record.artist.name %></p>
            <p>¥ <%= (record.price * @setting.tax).floor %>（税込）</p>


            <!-- ここを追加　カートボタン -->
            <% stock_array= []
            record.stock.times do |quantity|
              if quantity < 31
               stock_array.push(quantity)
              else
               break
              end %>
            <% end %>

            <% if user_signed_in? %>
            <% cart_item = CartItem.find_by(user_id:current_user.id, record_id:record.id) %>
              <% if cart_item %>
                <%= form_for(cart_item, url: cart_item_path(cart_item),html:{method: "put"}) do |f| %>
                <%= f.select :quantity, stock_array %>
                <%= f.label :quantity, "個" %>
                <%= f.hidden_field :record_id, :value => record.id %>
                <%= f.submit "カートに入れる", class:"btn btn-primary" %>
                <% end %>
              <% else %>
                <%= form_for @cart_item do |f| %>
                <%= f.select :quantity, stock_array %>
                <%= f.label :quantity, "個" %>
                <%= f.hidden_field :record_id, :value => record.id %>
                <%= f.submit "カートに入れる", class:"btn btn-primary" %>
                <% end %>
              <% end %>
            <% else %>
              <%= form_for @cart_item do |f| %>
              <%= f.select :quantity, stock_array %>
              <%= f.label :quantity, "個" %>
              <%= f.hidden_field :record_id, :value => record.id %>
              <%= f.submit "カートに入れる", class:"btn btn-primary" %>
            <% end %>
            <% end %>


          </div>
        <% end %>
      </div>
      <%= link_to "もっと見る", search_records_path, class:"col-xs-12 text-right" %>
    </section>
    
    <section class="col-xs-12 records-genre">
      <h2>Old Rock</h2>
      <div class="col-xs-12">
        <% @ors.each do |record| %>
          <div class="col-xs-3 disc-space">
            <% if record.stock == 0 %>
              <div class="stock-f"><p>入荷待ち</p></div>
            <% else %>
              <div class="stock-t"><p>即日発送</p></div>
            <% end %>
            <%= link_to record_path(record.id) do %>
              <%= attachment_image_tag record, :image, size: "200x200", fallback: "no_image.jpg", class:'text-center record-image' %></br></br>
            <% end %>
            <h4><b><%= record.name %></b></h4>
            <p><%= record.artist.name %></p>
            <p>¥ <%= (record.price * @setting.tax).floor %>（税込）</p>


            <!-- ここを追加　カートボタン -->
            <% stock_array= []
            record.stock.times do |quantity|
              if quantity < 31
               stock_array.push(quantity)
              else
               break
              end %>
            <% end %>

            <% if user_signed_in? %>
            <% cart_item = CartItem.find_by(user_id:current_user.id, record_id:record.id) %>
              <% if cart_item %>
                <%= form_for(cart_item, url: cart_item_path(cart_item),html:{method: "put"}) do |f| %>
                <%= f.select :quantity, stock_array %>
                <%= f.label :quantity, "個" %>
                <%= f.hidden_field :record_id, :value => record.id %>
                <%= f.submit "カートに入れる", class:"btn btn-primary" %>
                <% end %>
              <% else %>
                <%= form_for @cart_item do |f| %>
                <%= f.select :quantity, stock_array %>
                <%= f.label :quantity, "個" %>
                <%= f.hidden_field :record_id, :value => record.id %>
                <%= f.submit "カートに入れる", class:"btn btn-primary" %>
                <% end %>
              <% end %>
            <% else %>
              <%= form_for @cart_item do |f| %>
              <%= f.select :quantity, stock_array %>
              <%= f.label :quantity, "個" %>
              <%= f.hidden_field :record_id, :value => record.id %>
              <%= f.submit "カートに入れる", class:"btn btn-primary" %>
            <% end %>
            <% end %>


          </div>
        <% end %>
      </div>
      <%= link_to "もっと見る", search_records_path, class:"col-xs-12 text-right" %>
    </section>

    <section class="col-xs-12 records-genre">
      <h2>Hard Rock</h2>
      <div class="col-xs-12">
        <% @hrs.each do |record| %>
          <div class="col-xs-3 disc-space">
            <% if record.stock == 0 %>
              <div class="stock-f"><p>入荷待ち</p></div>
            <% else %>
              <div class="stock-t"><p>即日発送</p></div>
            <% end %>
            <%= link_to record_path(record.id) do %>
              <%= attachment_image_tag record, :image, size: "200x200", fallback: "no_image.jpg", class:'text-center record-image' %></br></br>
            <% end %>
            <h4><b><%= record.name %></b></h4>
            <p><%= record.artist.name %></p>
            <p>¥ <%= (record.price * @setting.tax).floor %>（税込）</p>


            <!-- ここを追加　カートボタン -->
            <% stock_array= []
            record.stock.times do |quantity|
              if quantity < 31
               stock_array.push(quantity)
              else
               break
              end %>
            <% end %>

            <% if user_signed_in? %>
            <% cart_item = CartItem.find_by(user_id:current_user.id, record_id:record.id) %>
              <% if cart_item %>
                <%= form_for(cart_item, url: cart_item_path(cart_item),html:{method: "put"}) do |f| %>
                <%= f.select :quantity, stock_array %>
                <%= f.label :quantity, "個" %>
                <%= f.hidden_field :record_id, :value => record.id %>
                <%= f.submit "カートに入れる", class:"btn btn-primary" %>
                <% end %>
              <% else %>
                <%= form_for @cart_item do |f| %>
                <%= f.select :quantity, stock_array %>
                <%= f.label :quantity, "個" %>
                <%= f.hidden_field :record_id, :value => record.id %>
                <%= f.submit "カートに入れる", class:"btn btn-primary" %>
                <% end %>
              <% end %>
            <% else %>
              <%= form_for @cart_item do |f| %>
              <%= f.select :quantity, stock_array %>
              <%= f.label :quantity, "個" %>
              <%= f.hidden_field :record_id, :value => record.id %>
              <%= f.submit "カートに入れる", class:"btn btn-primary" %>
            <% end %>
            <% end %>


          </div>
        <% end %>
      </div>
      <%= link_to "もっと見る", search_records_path, class:"col-xs-12 text-right" %>
    </section>

    <section class="col-xs-12 records-genre">
      <h2>PUNK</h2>
      <div class="col-xs-12">
        <% @punks.each do |record| %>
          <div class="col-xs-3 disc-space">
            <% if record.stock == 0 %>
              <div class="stock-f"><p>入荷待ち</p></div>
            <% else %>
              <div class="stock-t"><p>即日発送</p></div>
            <% end %>
            <%= link_to record_path(record.id) do %>
              <%= attachment_image_tag record, :image, size: "200x200", fallback: "no_image.jpg", class:'text-center record-image' %></br></br>
            <% end %>
            <h4><b><%= record.name %></b></h4>
            <p><%= record.artist.name %></p>
            <p>¥ <%= (record.price * @setting.tax).floor %>（税込）</p>


            <!-- ここを追加　カートボタン -->
            <% stock_array= []
            record.stock.times do |quantity|
              if quantity < 31
               stock_array.push(quantity)
              else
               break
              end %>
            <% end %>

            <% if user_signed_in? %>
            <% cart_item = CartItem.find_by(user_id:current_user.id, record_id:record.id) %>
              <% if cart_item %>
                <%= form_for(cart_item, url: cart_item_path(cart_item),html:{method: "put"}) do |f| %>
                <%= f.select :quantity, stock_array %>
                <%= f.label :quantity, "個" %>
                <%= f.hidden_field :record_id, :value => record.id %>
                <%= f.submit "カートに入れる", class:"btn btn-primary" %>
                <% end %>
              <% else %>
                <%= form_for @cart_item do |f| %>
                <%= f.select :quantity, stock_array %>
                <%= f.label :quantity, "個" %>
                <%= f.hidden_field :record_id, :value => record.id %>
                <%= f.submit "カートに入れる", class:"btn btn-primary" %>
                <% end %>
              <% end %>
            <% else %>
              <%= form_for @cart_item do |f| %>
              <%= f.select :quantity, stock_array %>
              <%= f.label :quantity, "個" %>
              <%= f.hidden_field :record_id, :value => record.id %>
              <%= f.submit "カートに入れる", class:"btn btn-primary" %>
            <% end %>
            <% end %>


          </div>
        <% end %>
      </div>
      <%= link_to "もっと見る", search_records_path, class:"col-xs-12 text-right" %>
    </section>

    <section class="col-xs-12 records-genre">
      <h2>JAZZ</h2>
      <div class="col-xs-12">
        <% @jazzs.each do |record| %>
          <div class="col-xs-3 disc-space">
            <% if record.stock == 0 %>
              <div class="stock-f"><p>入荷待ち</p></div>
            <% else %>
              <div class="stock-t"><p>即日発送</p></div>
            <% end %>
            <%= link_to record_path(record.id) do %>
              <%= attachment_image_tag record, :image, size: "200x200", fallback: "no_image.jpg", class:'text-center record-image' %></br></br>
            <% end %>
            <h4><b><%= record.name %></b></h4>
            <p><%= record.artist.name %></p>
            <p>¥ <%= (record.price * @setting.tax).floor %>（税込）</p>


            <!-- ここを追加　カートボタン -->
            <% stock_array= []
            record.stock.times do |quantity|
              if quantity < 31
               stock_array.push(quantity)
              else
               break
              end %>
            <% end %>

            <% if user_signed_in? %>
            <% cart_item = CartItem.find_by(user_id:current_user.id, record_id:record.id) %>
              <% if cart_item %>
                <%= form_for(cart_item, url: cart_item_path(cart_item),html:{method: "put"}) do |f| %>
                <%= f.select :quantity, stock_array %>
                <%= f.label :quantity, "個" %>
                <%= f.hidden_field :record_id, :value => record.id %>
                <%= f.submit "カートに入れる", class:"btn btn-primary" %>
                <% end %>
              <% else %>
                <%= form_for @cart_item do |f| %>
                <%= f.select :quantity, stock_array %>
                <%= f.label :quantity, "個" %>
                <%= f.hidden_field :record_id, :value => record.id %>
                <%= f.submit "カートに入れる", class:"btn btn-primary" %>
                <% end %>
              <% end %>
            <% else %>
              <%= form_for @cart_item do |f| %>
              <%= f.select :quantity, stock_array %>
              <%= f.label :quantity, "個" %>
              <%= f.hidden_field :record_id, :value => record.id %>
              <%= f.submit "カートに入れる", class:"btn btn-primary" %>
            <% end %>
            <% end %>


          </div>
        <% end %>
      </div>
      <%= link_to "もっと見る", search_records_path, class:"col-xs-12 text-right" %>
    </section>

    <section class="col-xs-12 records-genre">
      <h2>Classic</h2>
      <div class="col-xs-12">
        <% @classics.each do |record| %>
          <div class="col-xs-3 disc-space">
            <% if record.stock == 0 %>
              <div class="stock-f"><p>入荷待ち</p></div>
            <% else %>
              <div class="stock-t"><p>即日発送</p></div>
            <% end %>
            <%= link_to record_path(record.id) do %>
              <%= attachment_image_tag record, :image, size: "200x200", fallback: "no_image.jpg", class:'text-center record-image' %></br></br>
            <% end %>
            <h4><b><%= record.name %></b></h4>
            <p><%= record.artist.name %></p>
            <p>¥ <%= (record.price * @setting.tax).floor %>（税込）</p>


            <!-- ここを追加　カートボタン -->
            <% stock_array= []
            record.stock.times do |quantity|
              if quantity < 31
               stock_array.push(quantity)
              else
               break
              end %>
            <% end %>

            <% if user_signed_in? %>
            <% cart_item = CartItem.find_by(user_id:current_user.id, record_id:record.id) %>
              <% if cart_item %>
                <%= form_for(cart_item, url: cart_item_path(cart_item),html:{method: "put"}) do |f| %>
                <%= f.select :quantity, stock_array %>
                <%= f.label :quantity, "個" %>
                <%= f.hidden_field :record_id, :value => record.id %>
                <%= f.submit "カートに入れる", class:"btn btn-primary" %>
                <% end %>
              <% else %>
                <%= form_for @cart_item do |f| %>
                <%= f.select :quantity, stock_array %>
                <%= f.label :quantity, "個" %>
                <%= f.hidden_field :record_id, :value => record.id %>
                <%= f.submit "カートに入れる", class:"btn btn-primary" %>
                <% end %>
              <% end %>
            <% else %>
              <%= form_for @cart_item do |f| %>
              <%= f.select :quantity, stock_array %>
              <%= f.label :quantity, "個" %>
              <%= f.hidden_field :record_id, :value => record.id %>
              <%= f.submit "カートに入れる", class:"btn btn-primary" %>
            <% end %>
            <% end %>


          </div>
        <% end %>
      </div>
      <%= link_to "もっと見る", search_records_path, class:"col-xs-12 text-right" %>
    </section>

    <section class="col-xs-12 records-genre">
      <h2>Sound Track</h2>
      <div class="col-xs-12">
        <% @sts.each do |record| %>
          <div class="col-xs-3 disc-space">
            <% if record.stock == 0 %>
              <div class="stock-f"><p>入荷待ち</p></div>
            <% else %>
              <div class="stock-t"><p>即日発送</p></div>
            <% end %>
            <%= link_to record_path(record.id) do %>
              <%= attachment_image_tag record, :image, size: "200x200", fallback: "no_image.jpg", class:'text-center record-image' %></br></br>
            <% end %>
            <h4><b><%= record.name %></b></h4>
            <p><%= record.artist.name %></p>
            <p>¥ <%= (record.price * @setting.tax).floor %>（税込）</p>


            <!-- ここを追加　カートボタン -->
            <% stock_array= []
            record.stock.times do |quantity|
              if quantity < 31
               stock_array.push(quantity)
              else
               break
              end %>
            <% end %>

            <% if user_signed_in? %>
            <% cart_item = CartItem.find_by(user_id:current_user.id, record_id:record.id) %>
              <% if cart_item %>
                <%= form_for(cart_item, url: cart_item_path(cart_item),html:{method: "put"}) do |f| %>
                <%= f.select :quantity, stock_array %>
                <%= f.label :quantity, "個" %>
                <%= f.hidden_field :record_id, :value => record.id %>
                <%= f.submit "カートに入れる", class:"btn btn-primary" %>
                <% end %>
              <% else %>
                <%= form_for @cart_item do |f| %>
                <%= f.select :quantity, stock_array %>
                <%= f.label :quantity, "個" %>
                <%= f.hidden_field :record_id, :value => record.id %>
                <%= f.submit "カートに入れる", class:"btn btn-primary" %>
                <% end %>
              <% end %>
            <% else %>
              <%= form_for @cart_item do |f| %>
              <%= f.select :quantity, stock_array %>
              <%= f.label :quantity, "個" %>
              <%= f.hidden_field :record_id, :value => record.id %>
              <%= f.submit "カートに入れる", class:"btn btn-primary" %>
            <% end %>
            <% end %>


          </div>
        <% end %>
      </div>
      <%= link_to "もっと見る", search_records_path, class:"col-xs-12 text-right" %>
    </section>

    <section class="col-xs-12 records-genre">
      <h2>昭和歌謡曲</h2>
      <div class="col-xs-12">
        <% @sks.each do |record| %>
          <div class="col-xs-3 disc-space">
            <% if record.stock == 0 %>
              <div class="stock-f"><p>入荷待ち</p></div>
            <% else %>
              <div class="stock-t"><p>即日発送</p></div>
            <% end %>
            <%= link_to record_path(record.id) do %>
              <%= attachment_image_tag record, :image, size: "200x200", fallback: "no_image.jpg", class:'text-center record-image' %></br></br>
            <% end %>
            <h4><b><%= record.name %></b></h4>
            <p><%= record.artist.name %></p>
            <p>¥ <%= (record.price * @setting.tax).floor %>（税込）</p>


            <!-- ここを追加　カートボタン -->
            <% stock_array= []
            record.stock.times do |quantity|
              if quantity < 31
               stock_array.push(quantity)
              else
               break
              end %>
            <% end %>

            <% if user_signed_in? %>
            <% cart_item = CartItem.find_by(user_id:current_user.id, record_id:record.id) %>
              <% if cart_item %>
                <%= form_for(cart_item, url: cart_item_path(cart_item),html:{method: "put"}) do |f| %>
                <%= f.select :quantity, stock_array %>
                <%= f.label :quantity, "個" %>
                <%= f.hidden_field :record_id, :value => record.id %>
                <%= f.submit "カートに入れる", class:"btn btn-primary" %>
                <% end %>
              <% else %>
                <%= form_for @cart_item do |f| %>
                <%= f.select :quantity, stock_array %>
                <%= f.label :quantity, "個" %>
                <%= f.hidden_field :record_id, :value => record.id %>
                <%= f.submit "カートに入れる", class:"btn btn-primary" %>
                <% end %>
              <% end %>
            <% else %>
              <%= form_for @cart_item do |f| %>
              <%= f.select :quantity, stock_array %>
              <%= f.label :quantity, "個" %>
              <%= f.hidden_field :record_id, :value => record.id %>
              <%= f.submit "カートに入れる", class:"btn btn-primary" %>
            <% end %>
            <% end %>


          </div>
        <% end %>
      </div>
      <%= link_to "もっと見る", search_records_path, class:"col-xs-12 text-right" %>
    </section>

    <section class="col-xs-12 records-genre">
      <h2>アイドル</h2>
      <div class="col-xs-12">
        <% @idles.each do |record| %>
          <div class="col-xs-3 disc-space">
            <% if record.stock == 0 %>
              <div class="stock-f"><p>入荷待ち</p></div>
            <% else %>
              <div class="stock-t"><p>即日発送</p></div>
            <% end %>
            <%= link_to record_path(record.id) do %>
              <<%= attachment_image_tag record, :image, size: "200x200", fallback: "no_image.jpg", class:'text-center record-image' %></br></br>
            <% end %>
            <h4><b><%= record.name %></b></h4>
            <p><%= record.artist.name %></p>
            <p>¥ <%= (record.price * @setting.tax).floor %>（税込）</p>


            <!-- ここを追加　カートボタン -->
            <% stock_array= []
            record.stock.times do |quantity|
              if quantity < 31
               stock_array.push(quantity)
              else
               break
              end %>
            <% end %>

            <% if user_signed_in? %>
            <% cart_item = CartItem.find_by(user_id:current_user.id, record_id:record.id) %>
              <% if cart_item %>
                <%= form_for(cart_item, url: cart_item_path(cart_item),html:{method: "put"}) do |f| %>
                <%= f.select :quantity, stock_array %>
                <%= f.label :quantity, "個" %>
                <%= f.hidden_field :record_id, :value => record.id %>
                <%= f.submit "カートに入れる", class:"btn btn-primary" %>
                <% end %>
              <% else %>
                <%= form_for @cart_item do |f| %>
                <%= f.select :quantity, stock_array %>
                <%= f.label :quantity, "個" %>
                <%= f.hidden_field :record_id, :value => record.id %>
                <%= f.submit "カートに入れる", class:"btn btn-primary" %>
                <% end %>
              <% end %>
            <% else %>
              <%= form_for @cart_item do |f| %>
              <%= f.select :quantity, stock_array %>
              <%= f.label :quantity, "個" %>
              <%= f.hidden_field :record_id, :value => record.id %>
              <%= f.submit "カートに入れる", class:"btn btn-primary" %>
            <% end %>
            <% end %>



          </div>
        <% end %>
      </div>
      <%= link_to "もっと見る", search_records_path, class:"col-xs-12 text-right" %>
    </section>

    <section class="col-xs-12 records-genre">
      <h2>K-POP</h2>
      <div class="col-xs-12">
        <% @kpops.each do |record| %>
          <div class="col-xs-3 disc-space">
            <% if record.stock == 0 %>
              <div class="stock-f"><p>入荷待ち</p></div>
            <% else %>
              <div class="stock-t"><p>即日発送</p></div>
            <% end %>
            <%= link_to record_path(record.id) do %>
              <%= attachment_image_tag record, :image, size: "200x200", fallback: "no_image.jpg", class:'text-center record-image' %></br></br>
            <% end %>
            <h4><b><%= record.name %></b></h4>
            <p><%= record.artist.name %></p>
            <p>¥ <%= (record.price * @setting.tax).floor %>（税込）</p>


            <!-- ここを追加　カートボタン -->
            <% stock_array= []
            record.stock.times do |quantity|
              if quantity < 31
               stock_array.push(quantity)
              else
               break
              end %>
            <% end %>

            <% if user_signed_in? %>
            <% cart_item = CartItem.find_by(user_id:current_user.id, record_id:record.id) %>
              <% if cart_item %>
                <%= form_for(cart_item, url: cart_item_path(cart_item),html:{method: "put"}) do |f| %>
                <%= f.select :quantity, stock_array %>
                <%= f.label :quantity, "個" %>
                <%= f.hidden_field :record_id, :value => record.id %>
                <%= f.submit "カートに入れる", class:"btn btn-primary" %>
                <% end %>
              <% else %>
                <%= form_for @cart_item do |f| %>
                <%= f.select :quantity, stock_array %>
                <%= f.label :quantity, "個" %>
                <%= f.hidden_field :record_id, :value => record.id %>
                <%= f.submit "カートに入れる", class:"btn btn-primary" %>
                <% end %>
              <% end %>
            <% else %>
              <%= form_for @cart_item do |f| %>
              <%= f.select :quantity, stock_array %>
              <%= f.label :quantity, "個" %>
              <%= f.hidden_field :record_id, :value => record.id %>
              <%= f.submit "カートに入れる", class:"btn btn-primary" %>
            <% end %>
            <% end %>


          </div>
        <% end %>
      </div>
      <%= link_to "もっと見る", search_records_path, class:"col-xs-12 text-right" %>
    </section>
  </section>
</div>


<div class="container">
    <section class="row">
        <%= search_form_for(@q, url: search_records_path, html: { method: :get, class: 'form-horizontal', role: 'form' }) do |f| %>
            <%= render 'search_form', f: f %>
        <% end %>
    </section>
</div>