<div class="container">
  <section class="row">
    <%= search_form_for(@q, url: search_records_path, html: { method: :get, class: 'form-horizontal', role: 'form' }) do |f| %>
      <%= render 'search_form', f: f %>
    <% end %>

    <h3 class="text-center mb-4"><b>商品一覧</b></h3>
    
    <% @records.each do |record| %>
      <div class="col-xs-3 disc-space">
        <% if record.stock == 0 %>
          <div class="stock-f"><p>入荷待ち</p></div>
        <% else %>
          <div class="stock-t"><p>即日発送</p></div>
        <% end %>
        <%= link_to record_path(record.id)  do %>
          <% record_img = RecordImg.find_by(record_id: record.id, order: 1) %>
            <div class="records-img">
              <div class="rec-img-wrap">
                <div class="imgEff">
                  <%= attachment_image_tag record_img, :image, size: "200x200", fallback: "/images/no-image-icon-0.jpg", size:'200x200', class:'text-center record-image' %></br>
                </div>
              </div>
            </div>
        <% end %>
        <%= link_to record_path(record.id) do %>
          <h4><b class="rec-name"><%= record.name.truncate(22) %></b></h4>
        <% end %>
        <p><%= record.artist.name.truncate(18) %></p>
        <!-- ここを追加　カートボタン -->
            <% stock_array= []
            record.stock.times do |quantity|
              if quantity < 31
               stock_array.push(quantity)
              else
               break
              end %>
            <% end %>

             <% if user_signed_in? %>
            <% cart_item = CartItem.find_by(user_id:current_user.id, record_id:record.id) %>

              <% if cart_item %>
                <%= form_for(cart_item, url: cart_item_path(cart_item),html:{method: "put"}) do |f| %>
                  <% if record.stock == 0 %>
                    <%= f.select :quantity, stock_array %>
                    <%= f.hidden_field :record_id, :value => record.id %>
                    <span class="label label-default">在庫がありません</span>
                  <% else %>
                    <%= f.select :quantity, stock_array.push(stock_array.last.to_i + 1) %>
                    <%= f.label :quantity, "個" %>
                    <%= f.hidden_field :record_id, :value => record.id %>
                    <%= f.submit "カートに入れる", class:"btn btn-primary btn-xs" %>
                  <% end %>
                <% end %>
              <% else %>
                <%= form_for @cart_item do |f| %>
                  <% if record.stock == 0 %>
                    <%= f.select :quantity, stock_array %>
                    <%= f.hidden_field :record_id, :value => record.id %>
                    <span class="label label-default">在庫がありません</span>
                  <% else %>
                    <%= f.select :quantity, stock_array.push(stock_array.last.to_i + 1) %>
                    <%= f.label :quantity, "個" %>
                    <%= f.hidden_field :record_id, :value => record.id %>
                    <%= f.submit "カートに入れる", class:"btn btn-primary btn-xs" %>
                  <% end %>
                <% end %>
              <% end %>
          <% else %>
              <%= form_for @cart_item do |f| %>
                <% if record.stock == 0 %>
                    <%= f.select :quantity, stock_array %>
                    <%= f.label :quantity, "個" %>
                    <%= f.hidden_field :record_id, :value => record.id %>
                    <span class="label label-default">在庫がありません</span>
                <% else %>
                    <%= f.select :quantity, stock_array.push(stock_array.last.to_i + 1) %>
                    <%= f.label :quantity, "個" %>
                    <%= f.hidden_field :record_id, :value => record.id %>
                    <%= f.submit "カートに入れる", class:"btn btn-primary btn-xs" %>
                <% end %>
              <% end %>
          <% end %>
        <p>¥ <%= (record.price * @setting.tax).floor %>（税込）</p>
      </div>
    <% end %>
  </section>
  <%= paginate @records, class: "paginate" %>
</div>