<div class="container">
  <section class="row">
    <%= search_form_for(@q, url: search_records_path, html: { method: :get, class: 'form-horizontal', role: 'form' }) do |f| %>
      <%= render 'search_form', f: f %>
    <% end %>

    <h3 class="text-center mb-4"><b>商品一覧</b></h3>
    
    <% @records.each do |record| %>
      <div class="col-xs-3 disc-space">
        <% if record.stock == 0 %>
          <div class="stock-f"><p>入荷待ち</p></div>
        <% else %>
          <div class="stock-t"><p>即日発送</p></div>
        <% end %>
        <%= link_to record_path(record.id)  do %>
          <%= attachment_image_tag record, :image, size:'200x200', fallback: "no_image.jpg", format: 'jpeg', size:'200x200', class:'text-center record-image' %></br>
        <% end %>
        <%= link_to record_path(record.id) do %>
          <h4><b class="rec-name"><%= record.name.truncate(22) %></b></h4>
        <% end %>
        <p><%= record.artist.name.truncate(18) %></p>
        <p>¥ <%= (record.price * @setting.tax).floor %>（税込）</p>
      </div>
    <% end %>
  </section>
  <%= paginate @records, class: "paginate" %>
</div>