<div class="container">
  <div class="row">
    <div class="col-xs-4">
      <%= flash[:success] %>
      <h3>商品詳細</h3>
      <p>ジャンル：<br>
        <%= @record.genre %>
      </p>
      <%= attachment_image_tag @record, :image, format: 'jpeg', size: "200×200", fallback: "no_image.jpg", size:'200x200' %>
    </div>
    <div class="col-xs-8 space--1">
      <% if @record.stock > 0 %>
        <span class="label label-info">在庫あり</span>
      <% else %>
        <span class="label label-default">在庫なし</span>
      <% end %>

      <% if admin_signed_in? %>
        <p class="id">商品ID：
          <%= @record.id%>
        </p>
        <h2 class="title">
          <%= @record.name %>
        </h2>
        <p class="id">
          <%= @record.artist.name %>
        </p>
        <p class="maker">
          <%= @record.label %>
        </p>
        <h4 class="price">￥
          <%= number_with_delimiter (@record.price.to_i * @setting.tax).floor %>
        </h4>
        <p class="stock">在庫数</p>
          <%= form_for(@record, url: admin_record_path(@record),html:{method: "patch"}) do |f| %>
          <%= f.number_field :stock %>
        <%= f.submit "在庫数を更新する", class: "btn btn-primary" %>
        <% end %><br>
        <%= link_to '商品情報を編集する', edit_admin_record_path(@record), class: "btn btn-success bottun--1" %>
        <%= link_to 'この商品を削除する', admin_record_path(@record), class: 'btn btn-danger', method: :delete, "data-confirm" => "本当に削除しますか？" %>
        <%= link_to "logout", destroy_admin_session_path, method: :delete, class: 'glyphicon glyphicon-log-in' %>

      <% else %>
        <h2 class="title">
          <%= @record.name %>
        </h2>
        <p class="id">
          <%= @record.artist.name %>
        </p>
        <p class="maker">
          <%= @record.label %>
        </p>
        <h4 class="price">￥
         <%= number_with_delimiter (@record.price.to_i * @setting.tax).floor %>
        </h4>
        <% cart_item = CartItem.find_by(user_id:current_user.id, record_id:@record.id) %>
        <% if cart_item %>
          <%= form_tag(show_update_cart_item_path(cart_item), method: :put) do %>
            <%= number_field_tag("cart_item[quantity]") %>
            <%= hidden_field_tag("cart_item[record_id]", @record.id) %>
            <%= submit_tag "カートに入れる", class: "btn btn-warning" %>
          <% end %>
        <% else %>
          <%= form_tag(cart_items_path, method: :post) do %>
            <%= number_field_tag("cart_item[quantity]") %>
            <%= hidden_field_tag("cart_item[record_id]", @record.id) %>
            <%= submit_tag "カートに入れる", class: "btn btn-warning" %>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <h3>レコード詳細</h3>
      <p class="text">
        <%= simple_format(@record.body) %>
      </p>
    </div>
  </div>
  <div class="row">
    <h3>ソングリスト</h3>
      <% previous_disc_no = nil %>
      <% @record.tunes.each_with_index do |tune, i| %>
        <% if previous_disc_no != tune.disc_no %>
          <div class="col-xs-4">
            <h4 class="list-head">Disc<%= tune.disc_no %></h4>
        <% end %>
            <% previous_disc_no = tune.disc_no %>
            <p class="list">
              <%= tune.tune_order %>　
              <%= tune.tune_name %>
            </p>
            <!-- もし、recordの曲が最後、または、曲のディスクナンバーと次の曲のディスクナンバーが一致しなかったとき -->
        <% if (i == @record.tunes.size - 1) || (tune.disc_no != @record.tunes[i+1].disc_no) %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
        <!-- ユーザーレビューは最後に実装します。 -->