<div class="container">
  <div class="row">
    <div class="col-xs-4">
      <%= flash[:success] %>
      <h3>商品詳細</h3>
      <p>ジャンル：<br>
        <%= @record.genre %>
      </p>
      <%= attachment_image_tag @record, :image, format: 'jpeg', size: "200×200", fallback: "no_image.jpg", size:'200x200' %>
    </div>
    <div class="col-xs-8">
      <% if @record.stock > 0 %>
        <span class="label label-info">在庫あり</span>
      <% else %>
        <span class="label label-default">在庫なし</span>
      <% end %>

      <% if admin_signed_in? %>
        <p class="id">商品ID：
          <%= @record.id%>
        </p>
        <h2 class="title">
          <%= @record.name %>
        </h2>
        <p class="id">
          <%= @record.artist.name %>
        </p>
        <p class="maker">
          <%= @record.label %>
        </p>
        <h4 class="price">￥
          <%= number_with_delimiter (@record.price.to_i * @setting.tax).floor %>
        </h4>
        <p class="stock">在庫数</p>
          <%= form_for(@record, url: admin_record_path(@record),html:{method: "patch"}) do |f| %>
          <%= f.number_field :stock %>
        <%= f.submit "在庫数を更新する", class: "btn btn-primary" %>
        <% end %><br>
        <%= link_to '商品情報を編集する', edit_admin_record_path(@record), class: "btn btn-success bottun--1" %>
        <%= link_to 'この商品を削除する', admin_record_path(@record), class: 'btn btn-danger', method: :delete, "data-confirm" => "本当に削除しますか？" %>
        <%= link_to "logout", destroy_admin_session_path, method: :delete, class: 'glyphicon glyphicon-log-in' %>

      <% else %>
        <h2 class="title"> 
          <%= @record.name %>
        </h2>
        <p class="id">
          <%= @record.artist.name %>
        </p>
        <p class="maker">
          <%= @record.label %>
        </p>
        <h4 class="price">￥
         <%= number_with_delimiter (@record.price.to_i * @setting.tax).floor %>
        </h4>
        <%= form_tag(cart_items_path, method: :post) do %>
          <%= number_field_tag(:quantity) %>
          <%= hidden_field_tag(:record_id, @record.id) %>
          <%= submit_tag "カートに入れる", class: "btn btn-warning" %>
        <% end %>
        
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <h3>レコード詳細</h3>
      <p class="text">
        <%= @record.body %>
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      
      <h3>ソングリスト</h3>
      <table>
        <thead>
          <% previous_disc = nil %>
          <% @record.tunes.each do |tunes| %>
            <% if previous_disc != tunes.disc_no %>
              <tr>
                <th class="list-head">Disc<%= tunes.disc_no %></th>
              </tr>
            <% end %>
              <% previous_disc = tunes.disc_no %>
        </thead>
        <tbody>
          <tr>
            <td class="list"><%= tunes.tune_order %></td>
            <td class="list"><%= tunes.tune_name %></td>
          <% end %>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
        <!-- ユーザーレビューは最後に実装します。 -->