  <div class="container">
  <div class="row">
    <div class="col-xs-6">
      <%= flash[:success] %>

      <div id="container">
        <div id="theTarget">
          <% record_imgs = RecordImg.where(record_id: @record.id).order(:order) %>
          <% record_imgs.each do |record_img| %>
            <div><%= attachment_image_tag record_img, :image, size: "350x350", fallback: "/images/no-image-icon-0.jpg", size:'350x350' %></div>
          <% end %>
        </div>
      </div>
      
    </div>
    <div class="col-xs-4 space--2">
      <% if @record.stock > 0 %>
        <span class="label label-info">在庫あり</span>
      <% else %>
        <span class="label label-default">在庫なし</span>
      <% end %>
        <h2 class="record_name">
          <b><%= @record.name %></b>
        </h2>
        <h3 class="artist_name">
          <%= @record.artist.name %>
        </h3>
        <h3 class="label2">
          <p><%= @record.label %></p>
        </h3>
        <h4 class="genre">
        <%= @record.genre %>
        </h4>
        <h3 class="align-left">
         ￥<%= number_with_delimiter (@record.price.to_i * @setting.tax).floor %>
        </h3>

        <!-- ここから新しいカート追加 -->
        <% stock_array= []
        @record.stock.times do |quantity|
          if quantity < 30
            stock_array.push(quantity)
          else
            break
          end %>
        <% end %>

        <% if user_signed_in? %>
        <% cart_item = CartItem.find_by(user_id:current_user.id, record_id:@record.id) %>

          <% if cart_item %>
            <%= form_for(cart_item, url: cart_item_path(cart_item),html:{method: "put"}) do |f| %>
              <% if @record.stock == 0 %>
              <!-- login update -->
                <%= f.select :quantity, stock_array %>
                <%= f.label :quantity, "個" %>
                <%= f.hidden_field :record_id, :value => @record.id %>
                <%= f.submit "在庫がありません", class:"btn btn-warning" %>
              <% else %>
                <%= f.select :quantity, stock_array.push(stock_array.last.to_i + 1) %>
                <%= f.label :quantity, "個" %>
                <%= f.hidden_field :record_id, :value => @record.id %>
                <%= f.submit "カートに入れる", class:"btn btn-primary" %>
              <% end %>
            <% end %>
          <% else %>
          <!-- create login -->
            <%= form_for @cart_item do |f| %>
              <% if @record.stock == 0 %>
                <%= f.select :quantity, stock_array %>
                <%= f.label :quantity, "個" %>
                <%= f.hidden_field :record_id, :value => @record.id %>
                <%= f.submit "在庫がありません", class:"btn btn-warning" %>
              <% else %>
                <%= f.select :quantity, stock_array.push(stock_array.last.to_i + 1) %>
                <%= f.label :quantity, "個" %>
                <%= f.hidden_field :record_id, :value => @record.id %>
                <%= f.submit "カートに入れる", class:"btn btn-primary" %>
              <% end %>
            <% end %>
          <% end %>
        <% else %>
          <%= form_for @cart_item do |f| %>
            <% if @record.stock == 0 %>
              <%= f.select :quantity, stock_array %>
              <%= f.label :quantity, "個" %>
              <%= f.hidden_field :record_id, :value => @record.id %>
              <%= f.submit "在庫がありません", class:"btn btn-warning" %>
            <% else %>
              <%= f.select :quantity, stock_array.push(stock_array.last.to_i + 1) %>
              <%= f.label :quantity, "個" %>
              <%= f.hidden_field :record_id, :value => @record.id %>
              <%= f.submit "カートに入れる", class:"btn btn-primary" %>
            <% end %>
          <% end %>
        <% end %>
    </div>
  </div>

  <div class="row">
      <h3>レコード詳細</h3>
      <div class="text">
      <div class="text1">
        <%= simple_format(@record.body) %>
      </div>
    </div>
  </div>
  <div class="row">
    <h3 class="text-center"><b>ソングリスト</b></h3>
      <% previous_disc_no = nil %>
      <% @record.tunes.each_with_index do |tune, i| %>
        <% if previous_disc_no != tune.disc_no %>
          <div class="tunes-list">
            <h5 class="list-head text-center">Disc No.<%= tune.disc_no %></h5>
        <% end %>
            <% previous_disc_no = tune.disc_no %>
            <p class="text-center list">
              <%= tune.tune_order %>. 
              <%= tune.tune_name %>
            </p>
          </div>
      <% end %>
    </div>
  </div>
</div>
<br>
<br>
        <!-- ユーザーレビューは最後に実装します。 -->


        <style type="text/css">
          .user_review {
          padding:20px;
          width: 70%;
          margin: 0 auto;
          }
        </style>

<div class="user_review">
  <h3 class="review_titile text-center"><b>ユーザーレビュー</b></h3>
  <br>
  <div class="review">
    <% @record.reviews.each do |review| %>
        <div olspan="3" class="user_info">
          <%= attachment_image_tag @user, :image, format: 'jpeg', size: "80×80", fallback: "/images/no_image.jpg", size:'50x50', class:"user_image" %>&emsp;&emsp;<%= review.user.handlename %>&emsp;&emsp;<%= review.created_at.strftime('%Y/%m/%d') %>
          <% if user_signed_in? && current_user.id == review.user_id %>&emsp;&emsp;
            <%= link_to "編集", edit_record_review_path(@record.id,review.id), class:"botan1" %>&emsp;
            <%= link_to "削除", record_review_path(@record.id, review.id), method: :delete %>
            <% end %>
        </div>
        <div class="review_post" >
          <%= review.review %>
        </div>
    <% end %>
  </div>
   <br>
    <% if user_signed_in? %>
      <div class="new_review">
         <div class="class="form-group review-forms"">
           <%= form_for [@record, @review] do |f| %>
            <%= f.text_area :review, class:"form-control", placeholder: "コメントをここに" %><br>
            <%= f.submit "送信する",class:"btn btn-danger" %>
     <% end %>
   </div>
  <% end %>
 </div>
</div>
</div>