<div class="container row">
    <section class="col-xs-6 col-xs-offset-3">
        <h1>各種設定の変更</h1>

        <%= form_for @setting do |f| %>

            <div>
                <h3>店舗住所</h3></br>
                <%= f.text_field :shop_address, class="col-xs-12" %>
            </div>

            <div>
                <h3>店舗電話番号</h3></br>
                <%= f.text_field :shop_tel, class="col-xs-12" %>
            </div>

            <div>
                <h3>配送料</h3></br>
                <%= f.number_field :shipping, class="col-xs-4" %>
            </div>

            <div>
                <h3>消費税率</h3></br>
                <%= f.number_field :tax, class="col-xs-4" %>
            </div>

            <p><%= f.submit "この内容を保存する", class:"btn btn-primary center-block" %></p>

        <% end %>
    </section>
</div>
