<p id="notice"><%= notice %></p>
<div class="container">
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1">
      <h2>購入概要</h2>
      <table class="table table-bordered">
        <tbody>
          <tr>
            <th>購入ID</th>
            <td>購入ID: <%= @order.id %></td>
            <td>受注日: <%= @order.created_at.strftime('%Y/%m/%d') %></td>
            <td></td>
          </tr>
          <tr>
            <th>お客様情報</th>
            <td>お客様ID:<%= @user.id %></td>
            <td>ユーザー名: <%= @user.last_name %> <%= @user.first_name %></td>
            <td>Email:<%= @user.email %></td>
          </tr>
          <tr>
            <th>配送先情報</th>
            <td>発送ステータス: <%= @order.shipping_status_i18n %></td>
            <td>宛名: <%= @order.shipping_name %></td>
            <td>住所: <%= @order.shipping_address %></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1">
      <h2>購入内容</h2>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>ID</th>
            <th>ジャケット</th>
            <th>レコード名</th>
            <th>購入数</th>
            <th>価格</th>
            <th>小計</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <% @orders.each do |order| %>
              <% order.order_details.each do |order_detail| %>
                <td><%= order_detail.record_id %></td>
                <td><%= attachment_image_tag order_detail.record, :image, format: 'jpeg', size: "60×60", fallback: "no_image.jpg", size:'60x60'%></td>
                <td><%= order_detail.record.name %></td>
                <td><%= order_detail.quantity %></td>
                <td>￥<%= number_with_delimiter(order_detail.unit_price) %>
                <td>￥<%= number_with_delimiter(order_detail.price) %></td>
              <% end %>
            <% end %>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1">
      <h2>支払い情報</h2>
      <table class="table table-bordered">
        <tbody>
          <tr>
            <td>合計金額:￥<%= number_with_delimiter (@order.total_price) %></td>
          </tr>
          <tr>
            <td>支払い方法: <%= @order.payment_method %></td>
          </tr>
          <!-- <tr>
            <td>入金ステータス: <%= @order.receipt_status_i18n %></td>
          </tr> -->
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1">
      <h2>発送先情報</h2>
      <table class="table table-bordered">
        <tbody>
          <tr>
            <td>宛名:￥<%= number_with_delimiter (@order.total_price) %></td>
          </tr>
          <tr>
            <td>郵便番号:〒 <%= @order.shipping_post_num %></td>
          </tr>
          <tr>
            <td>住所:<%= @order.shipping_address %></td>
          </tr>
          <tr>
            <td>発送ステータス: <%= @order.shipping_status_i18n %></td>
          </tr>
        </tbody>
      </table>
    </div>
</div>
    <div class="link">
      <%= link_to 'マイページに戻る', user_path(@user.id), class: "btn btn-success center-block" %>
  </div>
</div>
