<body>
<div class="container">
 <div class="row">
  <br>
  <div class="if">
    <% if @cart_item.empty? %>
    <div class="main">
      <h3 class="text-center">カートには何も入っていません</h3></div>
    <div class="sav">
      <h3 class="text-center sav-text"><%= link_to "買い物を続ける", records_path , :style=>"color:#2f4f4f;" %></h4></div>
    <% else %>
    <div class="main">
     <h3>以下の商品がカートに入っています</h3>
    </div>

    <table class="table table-striped ">
      <tr>
        <td></td>
      	<td>商品</td>
      	<td>単価</td>
      	<td>数量</td>
      	<td>金額</td>
        <td></td>
      </tr>
      <% @cart_item.each do |cart| %>
      <% sum = 0 %>
      <tr>
  	  <td>
        <% record_img = RecordImg.find_by(record_id: cart.record.id, order: 1) %>
        <%= attachment_image_tag record_img, :image, size: "80x80", fallback: "no-image-icon-0.jpg", size:'80x80' %>
      </td>
  	  <td>
        <div class="matome">
        <p class="a"><%= cart.record.name %></p>
        <p class="a"><%= cart.record.artist.name %></p>
        <p class="a"><%= cart.record.label %></p></div>
      </td>
      <td>
        <div class="kane">￥<%= number_with_delimiter cart.record.price %></div>
      </td>
      <td>
        <% stock_array = []
              cart.record.stock.times do |quantity|
              if stock_array.push(quantity)
                else
                    break
                 end %>
            <% end %>
        <%= form_for cart, url: cart_item_path(cart), method: :patch do  |f| %>
          <div class="kane">
          <%= f.select :quantity, stock_array.push(stock_array.last.to_i + 1 ) %>
          <%= f.label :quantity, "個" %>
          <%= f.submit "変更", class: "btn btn-default btn-xs" %>
        </div>
        <% end %>
      </td>
      <td>
          <div class="kane"><%  @sub_total  = (cart.record.price * cart.record.cart_item.quantity * @setting.tax).floor%>
          <% @sum += @sub_total %>
        ￥<%= number_with_delimiter @sub_total %>（税込）</div>
      </td>
      <td>
        <div class="kane">
        <%= link_to "カートから消す", cart,url: cart_item_path(@cart_item), method: :delete, class: "btn btn-danger btn-sm" %></div>
      </td>
      </tr>
      <% end %>
    </table>
      <div class="total">
        税込合計金額(※送料含む)￥<%= number_with_delimiter @sum + @setting.shipping.floor %>円
      </div>
      <br>
      <% end %>
    </div>
  </div>
 </div>
     <div class="row">
      <div class="caution"> 
        <h3 class="text-center"><b>ご注意ください</b></h3>
          <div class="hako1  text-center">
            <h4 class="aa"><b>一回のご注文で複数の商品をご注文いただいた場合は、原則として全ての商品が揃ってから一括発送いたします。</b></h4></div>
          <div class="hakoko text-center">
            <p class="a"><b>カート内商品は一括発送いたします。</b></p>
           <p class="b"><b>以前のご注文との同封発送はできません。</b></p></div>
          <div class="hakoko  text-center">
            <p class="a"><b>送料は一配送につき全国一律<%= @setting.shipping %>円になります。</b></p>
           <p class="b"><b>ご注文完了後の支払い方法の変更は行えません。</b></p></div>
      </div>
    </div>
</body>

     <div class="row">
       <div class="col-xs-1"></div>
        <% unless @cart_item.blank? %>
        <div class="col-xs-4">
          <%= link_to "買い物を続ける", records_path, class:"form-control btn btn-primary" %></div>
        <div class="col-xs-2"></div>
        <div class="col-xs-4">
          <%= link_to "レジへ進む", new_order_path, class:"form-control btn btn-danger" %></div>
        <div class="col-xs-1"></div>
        <% end %>
     </div>
   </div>
  </div>
</div>