<div class="container">
 <div class="row">
  <br>
  <div class="if">
    <% if @cart_item.empty? %>
    <div class="main">
      <h2 align="center">カートには何も入っていません!</h2>
      <h4 align="center"><%= link_to "買い物を続ける", records_path %></h4></div>
    <% else %>
    <div class="main">
     <h3><b>以下の商品がカートに入っています</b></h3>
    </div>

      <table class="table table-striped">
      <tr>
        <td></td>
      	<td>商品</td>
      	<td>単価</td>
      	<td>数量</td>
      	<td>金額</td>
        <td></td>
      </tr>
      <% @cart_item.each do |cart| %>
      <% sum = 0 %>
      <tr>
  	  <td>
        <%= attachment_image_tag cart.record, :image, format: 'jpeg', size: "80×80", fallback: "no_image.jpg", size:'80x80' %>
      </td>
  	  <td>
        <p class=""><%= cart.record.name %></p>
        <p class=""><%= cart.record.artist.name %></p>
        <p class=""><%= cart.record.label %></p>
      </td>
      <td>￥
        <%= number_with_delimiter cart.record.price %>
      </td>
      <td>
        <% stock_array = []
              cart.record.stock.times do |quantity|
              if stock_array.push(quantity)
                else
                    break
                 end %>
            <% end %>
        <%= form_for cart, url: cart_item_path(cart), method: :patch do  |f| %>
          <%= f.select :quantity, stock_array.push(stock_array.last.to_i + 1 ) %>
          <%= f.label :quantity, "個" %>
          <%= f.submit "数量更新", class: "btn-xs btn-info" %>

        <% end %>
      </td>
      <td>
          <%  @sub_total  = (cart.record.price * cart.record.cart_item.quantity * @setting.tax).floor%>
          <% @sum += @sub_total %>
        ￥<%= number_with_delimiter @sub_total %>（税込）
      </td>
      <td><%= link_to "カートから消す", cart,url: cart_item_path(@cart_item), method: :delete, class: "btn btn-danger" %></td>
      </tr>
      <% end %>
      </table>
      <div class="total">
        税込合計金額(※送料含む)￥<%= number_with_delimiter @sum + @setting.shipping.floor %>円
      </div>
      <br>
      <% end %>

 </div>

  <div class="caution clearfix">
    <h3 class="text-center"><b>ご注意ください</b></h3>
      <div class="hako1  text-center">
        <h4 class="aa"><b>一回のご注文で複数の商品をご注文いただいた場合は、原則として全ての商品が揃ってから一括発送いたします。</b></h4></div>
      <div class="hakoko text-center">
        <p class="a"><b>カート内商品は一括発送いたします。</b></p>
        <p class="b"><b>以前のご注文との同封発送はできません。</b></p></div>
      <div class="hakoko  text-center">
        <p class="a"><b>送料は一配送につき全国一律<%= @setting.shipping %>円になります。</b></p>
        <p class="b"><b>ご注文完了後の支払い方法の変更は行えません。</b></p></div>
  </div>
     <br>
     <% unless @cart_item.blank? %>
     <%= link_to "買い物を続ける", records_path, class:"btn btn-info col-xs-6" %>

     <%= link_to "レジへ進む", new_order_path, class:"btn btn-danger col-xs-6" %>

     <% end %>
     <br>
     <br>
     <br>
   </div>
  </div>
</div>