<div class="container">
 <div class="row">
  <h2>カート</h2>
  <p class="top">※一回のご注文で複数の商品をご注文いただいた場合は、原則として全ての商品が揃ってから一括発送いたします。</p>
  <br>
  <div class="if">

    <% if @cart_item.empty? %>

     <p align="center">現在、カートに商品は入っておりません。</p>
     <br>

     <% else %>

      <table border  width="100%">
      <tr align="center" height="50">
        <td></td>
      	<td>商品</td>
      	<td>単価</td>
      	<td>数量</td>
      	<td>金額</td>
        <td></td>
      </tr>
  	  <% @cart_item.each do |record| %>
      <tr align="center" height="100">
  	  <td></td>
  	  <td>
        <%= record.name %><br>
        <%= record.artist.name %><br>
        <%= record.label %>
      </td>
      <td>￥<%= record.price.to_s(:delimited) %>（税込）</td>
      <td><%= record.cart_item.quantity %></td>
      <td>
        ￥（税込）
      </td>
      <td><%= link_to "カートから削除", class: 'btn btn-danger' %></td>
      <% end %>
      <br>
  </tr>
  </table>
  <br>
  <br>
      <div class="total">税込合計金額 ? 円</div>
  <br>
  <br>
  <% end %>
 </div>
   <div class="caution clearfix">
    <h3>ご注意ください</h3>
    <p class="a">以前のご注文との同封発送はできません。</p>
    <p class="b">ご注文完了後の支払い方法の変更は行えません。</p>
    <p class="c">送料は一配送につき全国一律５００円になります。</p>
    <p class="d">カート内商品は一括発送いたします。</p>
   </div>
   <br>
   <% unless @cart_item.blank? %>
   <button class="btn btn-info col-xs-6">買い物を続ける</button>
   <button class="btn btn-danger col-xs-6">レジに進む</button>
   <% end %>
  </div>
  <br>
 </div>