<%= form_for(@record, url: path, method: method) do |f| %>
  <% if @record.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@record.errors.count, "件") %> のエラーがあります。</h2>

      <ul>
      <% @record.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
        <label class="col-xs-12">
            <h4 class="col-xs-12 record-form-title">ジャケット画像</h4>
    
            <div class="row">
                <div class="col-xs-10 col-xs-offset-1">
                    <table class="table table-list col-xs-12">
                        <thead>
                            <tr>
                                <th class="col col-xs-2 text-center">画像の順番</th>
                                <th class="col col-xs-6 text-center">ファイルアップロード</th>
                                <th class="col col-xs-2">&nbsp;</th>
                            </tr>
                        </thead>
                    
                        <tbody id='detail-association-insertion-point'>
                            <div class="form-group">
                                <%= f.fields_for :record_imgs do |img| %>
                                    <%= render 'record_img_fields', f: img %>
                                <% end %>
                            </div>
                        </tbody>
                    </table>
                </div>
                <div class="col-xs-1"></div>
            </div>
            
            <div class="col-xs-12 text-center">
                <%= link_to_add_association '画像を追加', f, :record_imgs,
                    class: 'btn btn-success mt-3',
                    data: {
                        association_insertion_node: '#detail-association-insertion-point',
                        association_insertion_method: 'append' 
                    }
                %>
            </div>
        </label>
    
        <label class="col-xs-12">
            <h4 class="col-xs-12 record-form-title">レコードタイトル</h4>
            <div class="col-xs-11 col-xs-offset-1">
                <%= f.text_field :name, class:"form-control h4" %>
            </div>
        </label>
        
        <label class="col-xs-12">
            <h4 class="col-xs-12 record-form-title">アーティスト名</h4>
            <div class="col-xs-11 col-xs-offset-1">
              <ul class="nav nav-tabs">
                  <li class="nav-item"><a href="#art1" class="nav-link active" data-toggle="tab" id="a"><b>アーティスト選択</b></a></li>
                  <li class="nav-item"><a href="#art2" class="nav-link" data-toggle="tab" id="b"><b>新規登録</b></a></li>
              </ul>
              <div class="tab-content">
                  <div class="tab-pane active" id="art1">
                    <%= f.collection_select :artist_id, f.object.selectable_artists, :id, :name, {}, placeholder: "アーティストを選択してください", class: 'form-control h4' %>
                  </div>
                  <div class="tab-pane" id="art2">
                        <%= fields_for @artist do |artist| %>
                            <div class="col-xs-6">
                            <%= artist.text_field :name, placeholder:"アーティスト名", class:"form-control h4 " %>
                            </div>
                            <div class="col-xs-6"></div>
                            <div class="col-xs-12">
                            <%= artist.text_area :description, placeholder:"アーティスト詳細", class:"form-control h4" %>
                            </div>
                        <% end %>
                  </div>
              </div>
          </div>
        </label>

        <%= f.hidden_field :artist_input, value: false, id:"artist_input" %>

        <label class="col-xs-12">
            <h4 class="col-xs-12 record-form-title">レーベル</h4>
            <div class="col-xs-11 col-xs-offset-1">
                <%= f.text_field :label, class:"form-control h4" %>
            </div>
        </label>

        <label class="col-xs-12">
            <h4 class="col-xs-12 record-form-title">ジャンル</h4>
            <div class="col-xs-10 col-xs-offset-1">
                <label><%= f.radio_button :genre, "Japanese Rock / Pops / Indies" %> Japanese Rock / Pops / Indies </label></br>
                <label><%= f.radio_button :genre, "Rock / Pops / Indies" %> Rock / Pops / Indies </label></br>
                <label><%= f.radio_button :genre, "Electric Dance Music" %> Electric Dance Music </label></br>
                <label><%= f.radio_button :genre, "Old Rock" %> Old Rock </label></br>
                <label><%= f.radio_button :genre, "Hard Rock / Heavy Metal" %> Hard Rock / Heavy Metal </label></br>
                <label><%= f.radio_button :genre, "PUNK" %> PUNK </label></br>
                <label><%= f.radio_button :genre, "JAZZ" %> JAZZ </label></br>
                <label><%= f.radio_button :genre, "CLASSIC" %> CLASSIC </label></br>
                <label><%= f.radio_button :genre, "Sound Track" %> Sound Track </label></br>
                <label><%= f.radio_button :genre, "昭和歌謡曲 / 演歌" %> 昭和歌謡曲 / 演歌</label></br>
                <label><%= f.radio_button :genre, "アイドル" %> アイドル </label></br>
                <label><%= f.radio_button :genre, "K-POP" %> K-POP </label>
            </div>
            <div class="col-xs-1"></div>
        </label>

        <label class="col-xs-12">
            <h4 class="col-xs-12 record-form-title">在庫数</h4>
            <div class="col-xs-11 col-xs-offset-1">
                <%= f.number_field :stock, class:"form-control h4" %>
            </div>
        </label>

        <label class="col-xs-12">
            <h4 class="col-xs-12 record-form-title">金額（税別）</h4>
            <div class="col-xs-11 col-xs-offset-1">
                <%= f.number_field :price, class:"form-control h2" %>
            </div>
        </label>

    <section class="col-xs-12 records-info">
        <label class="col-xs-12">
            <h4 class="col-xs-12 record-form-title mb-3">レコード詳細</h4>
            <%= f.text_area :body, rows: 8, class:"form-control" %>
        </label>
    </section>

    <section class="col-xs-12 records-info">
        <h4><b>収録曲登録</b></h4>
    
        <div class="col-xs-10 col-xs-offset-1">
            <table class="table table-list col-xs-12">
                <thead>
                    <tr>
                        <th class="col col-xs-2 text-center">disc number</th>
                        <th class="col col-xs-2 text-center">曲順</th>
                        <th class="col col-xs-6 text-center">曲名</th>
                        <th class="col col-xs-2">&nbsp;</th>
                    </tr>
                </thead>
            
                <tbody id='detail-association-insertion-point'>
                    <div class="form-group">
                        <%= f.fields_for :tunes do |tune| %>
                            <%= render 'tune_fields', f: tune %>
                        <% end %>
                    </div>
                </tbody>
            </table>
        </div>
        <div class="col-xs-1"></div>
        
        <div class="col-xs-12 text-center">
            <%= link_to_add_association '曲を追加', f, :tunes,
                class: 'btn btn-success mt-3',
                data: {
                    association_insertion_node: '#detail-association-insertion-point',
                    association_insertion_method: 'append' 
                }
            %>
        </div>
    
    </section>


    <div class="col-xs-12 text-center">
        <%= f.submit "上記を保存する", class:"btn btn-primary btn-lg artist-show-btn" %>
    </div>
  <% end %>

  

  <script>
  $(function(){
      $('#a').on('click', function(){
          $('#artist_input').val(false)
        //   alert('oo')
      });
      $('#b').on('click', function(){
          $('#artist_input').val(true)
        //   alert('aa')
      });
  })
</script>