<div class="container">
    <div class="row">
        <div class="col-xs-6">
            <label class="col-sm-4 control-label" for="">商品レコード名</label>
            <div class="col-sm-8">
                <%= f.text_field :name_cont, class: 'form-control' %>                    </div>
            </div>
        </div>

            <div class="col-xs-6">
            <div class="form-group">
                <label class="col-sm-4 control-label" for="">アーティスト名</label>
                <div class="col-sm-8">
                    <%= f.text_field :artist_name_cont, class: 'form-control' %>
                </div>
            </div>
        </div>

        <div class="col-xs-12">
            <label class="col-xs-12">
                <h4 class="col-xs-12 record-form-title">ジャンル</h4>
                <div class="col-xs-10 col-xs-offset-1">
                    <label><%= f.radio_button :genre, "Japanese Rock / Pops / Indies" %> Japanese Rock / Pops / Indies </label></br>
                    <label><%= f.radio_button :genre, "Rock / Pops / Indies" %> Rock / Pops / Indies </label></br>
                    <label><%= f.radio_button :genre, "Electric Dance Music" %> Electric Dance Music </label></br>
                    <label><%= f.radio_button :genre, "Old Rock" %> Old Rock </label></br>
                    <label><%= f.radio_button :genre, "Hard Rock / Heavy Metal" %> Hard Rock / Heavy Metal </label></br>
                    <label><%= f.radio_button :genre, "PUNK" %> PUNK </label></br>
                    <label><%= f.radio_button :genre, "JAZZ" %> JAZZ </label></br>
                    <label><%= f.radio_button :genre, "CLASSIC" %> CLASSIC </label></br>
                    <label><%= f.radio_button :genre, "Sound Track" %> Sound Track </label></br>
                    <label><%= f.radio_button :genre, "昭和歌謡曲 / 演歌" %> 昭和歌謡曲 / 演歌</label></br>
                    <label><%= f.radio_button :genre, "アイドル" %> アイドル </label></br>
                    <label><%= f.radio_button :genre, "K-POP" %> K-POP </label>
                </div>
                <div class="col-xs-1"></div>
            </label>
        </div>

        <div class="col-sm-12 row text-center">
        <%= link_to admin_records_path, class: 'btn btn-default btn-left' do %>クリア<% end %>
        <button class="btn btn-default btn-primary" type="submit"><i class="fa fa-search"></i> 検索</button>
        </div>
    
    </div>
</div>
    