<%= javascript_include_tag "typeahead.bundle.min" %>
<%= javascript_include_tag "autocomp" %>

<div class="container">
    <section class="row">
        <h1 class="text-center">商品登録フォーム</h1>
        <%= form_for @record do |f| %>
            <div class="col-xs-3">
                <h4>ジャケット写真</h4>
                <%= f.attachment_field :image %>

                <h4>在庫数</h4>
                <%= f.number_field :stock, class:"col-xs-8 form-control h4" %>
            </div>
            <div class="col-xs-9">
                <label class="col-xs-12">
                    <h4 class="col-xs-12 record-form-title">レコードタイトル</h4>
                    <%= f.text_field :name, class:"col-xs-10 col-xs-offset-1 form-control h4" %>
                    <div class="col-xs-1"></div>
                </label>
                
                <label class="col-xs-12">
                    <h4 class="col-xs-12 record-form-title">アーティスト名</h4>
                    <%= f.text_field :artist_id, class:"col-xs-10 col-xs-offset-1 form-control h4" %>
                    <div class="col-xs-1"></div>
                </label>

                <label class="col-xs-12">
                    <h4 class="col-xs-12 record-form-title">レーベル</h4>
                    <%= f.text_field :label, class:"col-xs-10 col-xs-offset-1 form-control h4" %>
                    <div class="col-xs-1"></div>
                </label>

                <label class="col-xs-12">
                    <h4 class="col-xs-12 record-form-title">ジャンル</h4>
                    <div class="col-xs-10 col-xs-offset-1">
                        <label><%= f.radio_button :genre, "Japanese Rock / Pops / Indies" %> Japanese Rock / Pops / Indies </label></br>
                        <label><%= f.radio_button :genre, "Rock / Pops / Indies" %> Rock / Pops / Indies </label></br>
                        <label><%= f.radio_button :genre, "Electric Dance Music" %> Electric Dance Music </label></br>
                        <label><%= f.radio_button :genre, "Old Rock" %> Old Rock </label></br>
                        <label><%= f.radio_button :genre, "Hard Rock / Heavy Metal" %> Hard Rock / Heavy Metal </label></br>
                        <label><%= f.radio_button :genre, "PUNK" %> PUNK </label></br>
                        <label><%= f.radio_button :genre, "JAZZ" %> JAZZ </label></br>
                        <label><%= f.radio_button :genre, "CLASSIC" %> CLASSIC </label></br>
                        <label><%= f.radio_button :genre, "Sound Track" %> Sound Track </label></br>
                        <label><%= f.radio_button :genre, "昭和歌謡曲 / 演歌" %> 昭和歌謡曲 / 演歌</label></br>
                        <label><%= f.radio_button :genre, "アイドル" %> アイドル </label></br>
                        <label><%= f.radio_button :genre, "K-POP" %> K-POP </label>
                    </div>
                    <div class="col-xs-1"></div>
                </label>

                <label class="col-xs-12">
                    <h4 class="col-xs-12 record-form-title">金額（税別）</h4>
                    <%= f.text_field :price, class:"col-xs-10 col-xs-offset-1 form-control h4" %>
                    <div class="col-xs-1"></div>
                </label>

            </div>

            <section class="col-xs-12 records-info">
                <label class="col-xs-12">
                    <h4 class="col-xs-12 record-form-title">レコード詳細</h4>
                    <%= f.text_area :body, rows: 8, class:"form-control" %>
                    <div class="col-xs-1"></div>
                </label>
            </section>

            <div class="col-xs-12 text-center">
                    <%= f.submit "レコードを登録する", class:"btn btn-danger btn-lg artist-show-btn" %>
            </div>
        <% end %>
    </section>
</div>