  <div class="container">
  <div class="row">
    <div class="col-xs-6">
      <%= flash[:success] %>

      <div id="container">
        <div id="theTarget">
          <% record_imgs = RecordImg.where(record_id: @record.id).order(:order) %>
          <% record_imgs.each do |record_img| %>
            <div><%= attachment_image_tag record_img, :image, size: "350x350", fallback: "/images/no-image-icon-0.jpg", size:'350x350' %></div>
          <% end %>
        </div>
      </div>
      
    </div>
    <div class="col-xs-4 space--2">
      <% if @record.stock > 0 %>
        <span class="label label-info">在庫あり</span>
      <% else %>
        <span class="label label-default">在庫なし</span>
      <% end %>
        <h2 class="record_name">
          <b><%= @record.name %></b>
        </h2>
        <h3 class="artist_name">
          <%= @record.artist.name %>
        </h3>
        <h3 class="label2">
          <p><%= @record.label %></p>
        </h3>
        <h4 class="genre">
        <%= @record.genre %>
        </h4>
        <h3 class="align-left">
         ￥<%= number_with_delimiter (@record.price.to_i * @setting.tax).floor %>
        </h3>
    </div>
  </div>

  <div class="row">
      <h3>レコード詳細</h3>
      <div class="text">
      <div class="text1">
        <%= simple_format(@record.body) %>
      </div>
    </div>
  </div>
  <div class="row">
    <h3 class="text-center"><b>ソングリスト</b></h3>
      <% previous_disc_no = nil %>
      <% @record.tunes.each_with_index do |tune, i| %>
        <% if previous_disc_no != tune.disc_no %>
          <div class="tunes-list">
            <h5 class="list-head text-center">Disc No.<%= tune.disc_no %></h5>
        <% end %>
            <% previous_disc_no = tune.disc_no %>
            <p class="text-center list">
              <%= tune.tune_order %>. 
              <%= tune.tune_name %>
            </p>
          </div>
      <% end %>
    </div>
  </div>
</div>
<br>
<br>
        <!-- ユーザーレビューは最後に実装します。 -->


        <style type="text/css">
          .user_review {
          padding:20px;
          width: 70%;
          margin: 0 auto;
          }
        </style>

<div class="user_review">
  <h3 class="review_titile text-center"><b>ユーザーレビュー</b></h3>
  <br>
  <div class="review">
    <% @record.reviews.each do |review| %>
        <div olspan="3" class="user_info">
          <%= attachment_image_tag @user, :image, format: 'jpeg', size: "80×80", fallback: "/images/no_image.jpg", size:'50x50', class:"user_image" %>&emsp;&emsp;<%= review.user.handlename %>&emsp;&emsp;<%= review.created_at.strftime('%Y/%m/%d') %>
        </div>
        <div class="review_post" >
          <%= review.review %>
        </div>
    <% end %>
  </div>
</div>
</div>