<div class="container">
  <div class="row">
    <div class="col-xs-4">
      <h3>商品詳細</h3>
      <%= @record.genre %>
      <%= attachment_image_tag @record, :image, format: 'jpeg', size: "200×200", fallback: "no_image.jpg", size:'180x180' %>
    </div>
    <div class="col-xs-8">
      <% if @record.stock > 0 %>
        <span class="badge badge-success">在庫あり</span>
      <% else %>
        <span class="badge badge-secondary">在庫なし</span>
      <% end %>
      <% if admin_signed_in? %>
        <p>商品ID：
          <%= @record.id%>
        </p>
        <h2>
          <%= @record.name %>
        </h2>
        <%= @record.artist_id %>
        <%= @record.label %>
        <%= @record.price.to_i * @setting.tax %>
        <p>在庫数
          <%= f.text_field :stock %>
        </p>
        <%= f.submit "更新", class:"btn btn-danger" %>
      <% else %>
        <h2><%= @record.name %></h2>
        <%= @record.artist_id %>
        <%= @record.label %>
        <%= @record.prise.to_i * @setting.tax %>
        <%= f.select :@cart.quantity, [["1", "1"],["2","2",]["3","3"]["4","4"]["5","5"]["6","6"]["7","7"]["8","8"]["9","9"]["10","10"]["11","11"]["12","12"]["13","13"]["14","14"]["15","15"]["16","16"]["17","17"]["18","18"]["19","19"]["20","20"]] %>
        <%= f.submit "商品を購入する", class:"btn btn-warning" %>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <h3>レコード詳細</h3>
      <%= @records.body %>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
    <!-- ソングリストは仮設設置です。休み明けメンターさんに確認して実装します。 -->
      <h3>ソングリスト</h3>
      <table>
        <thead>
          <tr>
            <th colspan="2">
              <%= @record.disc_no %>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>勝手にシンドバッド</td>
          </tr>
          <tr>
            <td>2</td>
            <td>いとしのエリー</td>
          </tr>
          <tr>
            <td>3</td>
            <td>C調言葉に御用心</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
        <!-- ユーザーレビューは最後に実装します。 -->