<!DOCTYPE html>
<html>
  <head>
    <title>DiscMania</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>





  <body>

       <nav class="navbar nav-iro">
              <div class="container-fluid">
                <div class="navbar-header">
                  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbarEexample7">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </button>
                  <a href="#">
                    <%= image_tag 'DISC_MANIA.png',size: '180x130'%>
                  </a>
                </div>

                <div class="collapse navbar-collapse navbar-right nav-menu-right" id="navbarEexample7">


                  <ul class="nav navbar-nav">
                    <% if admin_signed_in? %>
                    <!-- アドミンがログインの場合 -->
                      <li><%=link_to  "受注一覧","#" %></li>
                      <li><%= link_to "商品登録", "#"%></li>
                      <li><%= link_to "商品一覧", "#"%></li>
                      <li><%= link_to "ユーザ一覧", admin_users_path %></li>

                    <% else %>
                      <% if user_signed_in? %>
                      <!--ユーザがログインしてる -->
                          <li><%  %></li>
                          <li><%= link_to "商品一覧", "#" %></li>
                          <li><%= link_to "カート", "#"%></li>
                          <li><%= link_to "マイページ", user_path(current_user.id) %><li>
                          <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>


                      <% else %>
                      <!--  ユーザがログインしてない -->
                          <li><%= link_to "商品一覧", records_path  %></li>
                          <li><%= link_to "ログイン", new_user_session_path %><li>
                          <li><%= link_to "会員登録", new_user_registration_path %></li>
                      <% end %>

                    <% end %>
                  </ul>
                </div>
              </div>
       </nav>



                <%= yield %>



                 <footer class="footer style-2">
                    <div class="container">
                      <div class="row">
                        <div class="col-md-8">
                        </div>
                        <div class="col-md-4">
                          <div class="col">
                            <h3>DiscMania</h3>
                              <p class="footer-text">〒380-****　長野県△△市○○町×××-××</p>
                              <p class="footer-text">TEL:026 - ○○○○ - ○○○○</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </footer>
  </body>


</html>

